## 1. Very Very Simple Query Example

In [3]:
import pyodbc
import pandas as pd
from pandas import DataFrame

# initialize the connection
conn = pyodbc.connect("DSN=MapR ODBC Driver for Drill DSN", autocommit=True)
cursor = conn.cursor()
 
# setup the query
s = '''
SELECT 
    r_name, r_comment
FROM 
    `azure`.`root`.`/data/compressed_json_data/region/region.json.gz`
'''

df = pd.read_sql(s, conn)
print(df)

# conn.close()

        r_name                                          r_comment
0       AFRICA  lar deposits. blithely final packages cajole. ...
1      AMERICA                    hs use ironic, even requests. s
2         ASIA                    ges. thinly even pinto beans ca
3       EUROPE      ly final courts cajole furiously final excuse
4  MIDDLE EAST  uickly special accounts cajole carefully blith...

## 2. Little More Complicated Query Example

In [57]:
# Litle More Complicated Query
# TPC-H Query 3
# will take about 1 minute

s = '''
SELECT
    l.l_orderkey,
    sum(CAST(l.l_extendedprice as FLOAT(5, 2)) * (1 - CAST(l.l_discount as FLOAT(1, 2)))) as revenue,
    o.o_orderdate,
    o.o_shippriority
FROM
    `azure`.`root`.`/data/compressed_json_data/customer/*.json.gz` as c,
    `azure`.`root`.`/data/compressed_json_data/orders/*.json.gz` as o,
    `azure`.`root`.`/data/compressed_json_data/lineitem/*.json.gz` as l
WHERE
    c.c_mktsegment = 'BUILDING'
    AND c.c_custkey = o.o_custkey
    AND l.l_orderkey = o.o_orderkey
    AND o.o_orderdate < '1995-03-15'
    AND l.l_shipdate > '1995-03-15'
GROUP BY
    l.l_orderkey,
    o.o_orderdate,
    o.o_shippriority
ORDER BY
    revenue desc,
    o.o_orderdate
LIMIT 20
'''

df = pd.read_sql(s, conn)
print(df)

#cursor.execute(s)
#print(cursor.fetchall())

   l_orderkey        revenue o_orderdate o_shippriority
0    21679558  442394.375000  1995-01-17              0
1     8443557  429378.667969  1995-03-12              0
2    10631491  423595.958984  1995-03-14              0
3    20841824  421258.042969  1995-03-08              0
4    11568359  418888.554688  1995-03-13              0
5    10725895  399668.425781  1995-03-12              0
6    20811973  399662.477051  1995-02-13              0
7    17937728  396726.318359  1995-03-12              0
8     6128295  393717.726562  1995-03-05              0
9    21236614  392019.317871  1995-03-14              0
10   13946112  391537.152344  1995-03-08              0
11   17274565  387939.200195  1995-03-13              0
12   14579109  387503.875000  1995-03-07              0
13    4736678  383267.675293  1995-03-03              0
14   18344033  382807.388672  1995-02-11              0
15    3386209  382784.812500  1995-03-10              0
16   15655777  381756.785156  1995-02-23              0
17   21796837  381371.184570  1995-03-06              0
18    2192676  380806.808594  1995-03-07              0
19   10569984  380702.968750  1995-03-07              0

## 3. Window Function Example

In [58]:
# will take about 25 seconds

s = '''
SELECT
    o.o_custkey, COUNT(o.o_custkey), c.c_name 
FROM
    `azure`.`root`.`/data/compressed_json_data/orders/*.json.gz` as o, 
    `azure`.`root`.`/data/compressed_json_data/customer/*.json.gz` as c 
WHERE 
    o.o_custkey = c.c_custkey 
GROUP BY
    o.o_custkey, c.c_name  
ORDER BY
    COUNT(o.o_custkey) DESC 
LIMIT 10
'''

df = pd.read_sql(s, conn)
print(df)

  o_custkey  EXPR$1              c_name
0    535240      45  Customer#000535240
1    226726      43  Customer#000226726
2     68728      42  Customer#000068728
3    357124      41  Customer#000357124
4    376498      41  Customer#000376498
5    587662      41  Customer#000587662
6    240751      40  Customer#000240751
7    576745      40  Customer#000576745
8    550000      40  Customer#000550000
9    411607      40  Customer#000411607